shared/node_modules
shared/.output

lyx-ui/node_modules
lyx-ui/.nuxt
lyx-ui/.output

dashboard/node_modules
dashboard/.nuxt
dashboard/.output
dashboard/explains
dashboard/tests
dashboard/.env
dashboard/winston-*.ndjson

