.test0 {
    @apply border-gray-400/20 border;
}

.test {
    border: 1px solid yellow !important;
}

.test2 {
    border: 2px solid blue !important;
}

.test3 {
    border: 3px solid green !important;
}


.bgtest {
    background-color: yellow;
}

.bgtest2 {
    background-color: blue;
}

.bgtest3 {
    background-color: green;
}