@import url('https://fonts.bunny.net/css?family=nunito:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.cdnfonts.com/css/brockmann');
@import url('https://fonts.bunny.net/css?family=inter:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


@import url('https://fonts.cdnfonts.com/css/geometric-sans-serif-v1');
@import url('https://fonts.bunny.net/css?family=manrope:300,400,500,600,700,800');
@import url('https://fonts.bunny.net/css?family=lato:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.bunny.net/css?family=poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');





html,
body {
    margin: 0;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    height: 100dvh;
}

.test {
    border: 1px solid yellow;
}

.brockmann {
    font-family: "Brockmann", var(--font-sans) !important;
}

.nunito {
    font-family: "Nunito", var(--font-sans) !important;
}

.inter {
    font-family: "Inter", var(--font-sans) !important;
}

.geometric {
    font-family: "Geometric Sans Serif v1", var(--font-sans) !important;
}

.manrope {
    font-family: "Manrope", var(--font-sans) !important;
}

.lato {
    font-family: "Lato", var(--font-sans) !important;
}

.poppins {
    font-family: "Poppins", var(--font-sans) !important;
}