
MONGO_CONNECTION_STRING=

REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=

AI_ORG=
AI_PROJECT=
AI_KEY=

EMAIL_SERVICE=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

AUTH_JWT_SECRET=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

STRIPE_SECRET=
STRIPE_WH_SECRET=