.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  text-align: center;
  background: radial-gradient(rgb(1, 1, 77), black);
}

.hero img {
  max-width: 100px; 
  margin-bottom: 20px;
}

.hero-title {
  font-weight: bold;
  margin-bottom: 20px;
}